.cf-btn,
button:not(.cf-btn) {
  font: inherit;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin: 0 0.2em 0.2em 0;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cf-btn--default,
button:not(.cf-btn) {
  background: gray;
}

.cf-btn--primary {
  color: white;
  background: #00A9EB;
}

.cf-btn--success {
  background: #68970F;
}

.cf-btn--warning {
  background: #FCA520;
}

.cf-btn--error {
  background: #FF3100;
}

.cf-btn__group {
  display: inline-block;
  position: relative;
}

.cf-btn__group .cf-btn {
  margin: 0;
}

.cf-btn__group .cf-btn ~ .cf-btn {
  border-left: none;
}

.cf-btn__group .cf-btn:not(:first-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cf-btn__group .cf-btn:not(:last-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cf-btn__group .cf-dropdown {
  margin-top: 0.5em;
}

.cf-btn__group .cf-dropdown--left {
  left: 0;
}

.cf-btn__group .cf-dropdown--right {
  right: 0;
}